<html>
<header>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link href="bttn.css" rel="stylesheet" type="text/plain">
</header>

<body>
    
    
        <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a class="navbar-item is-size-4 has-text-weight-bold has-text-link" href="/home">
                        OHOME BOX
                    </a>
                </div>
        
                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-start">
        
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                お褒め
                            </a>
        
                            <div class="navbar-dropdown">
                                <a class="navbar-item" href="/praise/add">
                                    お褒め登録
                                </a>
                                <a class="navbar-item" href="/praise/approve">
                                    お褒め承認
                                </a>
                            </div>
                        </div>
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                設定
                            </a>
        
                            <div class="navbar-dropdown">
                                <a class="navbar-item">
                                    ユーザ情報編集
                                </a>
                                <a class="navbar-item" href="/user/">
                                    ユーザ一覧表示
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
    <section class="hero is-light">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    お褒め登録
                </h1>
                <form class="pure-form" action="/praise/add" method="POST">
                    <div class="field">
                        <div class="field">
                            <div class="control has-icons-left">
                                <div class="select">
                                    <select name="user">
                                        <option></option>{{range .Users}}
                                        <option value="{{.ID}}">{{.Name}}</option>
                                        {{end}}
                                    </select>
                                </div>
                                <div class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </div>
                            </div>
                        </div>
                        <div>
                            {{if ne .Error ""}}
                            <div class="control has-icons-left has-icons-right is-5">
                                <textarea name="praise" class="textarea has-fixed-size is-danger" placeholder="" value="{{.Content}}"></textarea>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>
                            <p class="help is-danger">1~600文字以内で内容を入力してください</p>
                            {{else}}
                            <div class="control">
                                <textarea name="praise" class="textarea has-fixed-size" placeholder=""></textarea>
                            </div>
                            {{end}}
                        </div>
                    </div>
                    <div class="field">
                        <button type="submit" class="button is-link">Add OHOME</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

</body>

</html>