<html>
<header>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link href="bttn.css" rel="stylesheet" type="text/plain">
</header>

<body>
    
        <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a class="navbar-item is-size-4 has-text-weight-bold has-text-link" href="/home">
                        OHOME BOX
                    </a>
                </div>
        
                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-start">
        
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                お褒め
                            </a>
        
                            <div class="navbar-dropdown">
                                <a class="navbar-item" href="/praise/add">
                                    お褒め登録
                                </a>
                                <a class="navbar-item" href="/praise/approve">
                                    お褒め承認
                                </a>
                            </div>
                        </div>
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                設定
                            </a>
        
                            <div class="navbar-dropdown">
                                <a class="navbar-item">
                                    ユーザ情報編集
                                </a>
                                <a class="navbar-item" href="/user/">
                                    ユーザ一覧表示
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
    <section class="hero is-light">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    お褒め承認
                </h1>
                <form class="pure-form" action="/praise/approve" method="POST">
                    <div class="field">
                        <table class="table is-fullwidth is-bordered">
                            <thead>
                                <tr>
                                    <th width="50"></th>
                                    <th>id</th>
                                    <th>ほめられユーザ</th>
                                    <th>内容</th>
                                    <th>ほめたユーザ</th>
                                </tr>
                            </thead>
                            <tbody>{{range .Praises}}
                                <tr>
                                    <td class="has-text-centered"><label class="checkbox">
                                            <input type="checkbox" name="approvedPraiseIds" value="{{.Id}}" {{if .HasApproved}}checked disabled{{end}}>
                                        </label></td>
                                    <td>{{.Id}}</td>
                                    <td>{{.TargetUser.Name}}</td>
                                    <td>{{.Content}}</td>
                                    <td>{{.RegisteredUser.Name}}</td>
                                </tr>{{end}}
                            </tbody>
                        </table>
                    </div>
                    <div class="field">
                        <button type="submit" class="button is-link">チェックしたお褒めを承認する</button>
                        <input type="hidden" name="users[]">
                    </div>
                </form>
            </div>
        </div>
    </section>

</body>

</html>