<html>
<header>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link href="bttn.css" rel="stylesheet" type="text/plain">
</header>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                OHOME BOX
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        OHOME
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            Add OHOME
                        </a>
                        <a class="navbar-item">
                            Approve OHOME
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="/user/">
                            Add User / Display all users
                        </a>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Settings
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            Edit my profile
                        </a>
                        <a class="navbar-item">
                            Edit group
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>



    <section class="hero is-light">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Add user
                </h1>
                <div class="columns">
                    <form class="pure-form" action="/user/add" method="POST">
                        <div class="column">
                            {{if ne .Error ""}}
                            <div class="control has-icons-left has-icons-right is-5">
                                <input type="text" name="name" class="input is-danger" placeholder="user name">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>
                            <p class="help is-danger">This email is invalid</p>
                            {{else}}
                            <div class="control has-icons-left has-icons-right is-5">
                                <input type="text" name="name" class="input" placeholder="user name">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>
                            {{end}}
                        </div>
                    </div>
                <div class="column">
                    <button type="submit" class="button is-link">add user</button>
                    <input type="hidden" name="users[]">
                </div>
                </form>

            </div>


        </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <h1 class="title">User list</h1>
            <ul>{{range .Users}}
                <li><i class="fas fa-user"></i> {{.Name}}</li>
                {{end}}
            </ul>
        </div>
    </section>
    <section>
        <div class="container">
            <form class="pure-form" action="/user/initialize" method="GET">
                <button type="submit" class="button is-danger">initialize (truncate users and add a
                    user)</button>
            </form>
        </div>

    </section>



</body>

</html>